$darkbackground: rgb(14, 31, 88);


@media all and (max-width:767px) and (min-width:481px){
      
      body{
            background-color: coral;
      // background-color: rgb(31, 30, 30);

            .container .city-display{
                  display: grid;
                  grid-gap: 15px 20px;
                  grid-template-columns: repeat(1, 1fr);
            }
      }

      
      

}

@media all and (min-width:768px){

      body{
            background-color:red;
      // background-color: rgb(31, 30, 30);

            .container .city-display{
                  display: grid;
                  grid-gap: 15px 20px;
                  grid-template-columns: repeat(2, 1fr);
            }
      }
      
      
  
  
}

@media all and (min-width:1024px) {

body{
      background-color:green;
      // background-color: rgb(31, 30, 30);

      .container .city-display{
            display: grid;
            grid-gap: 15px 20px;
            grid-template-columns: repeat(3, 1fr);
      }
      }
     
      // background-color: rgb(31, 30, 30);
  
  
}

@media all and (min-width:1200px) {
body{
      background-color:purple;
      // background-color: rgb(31, 30, 30);
            .container .city-display{
                  display: grid;
                  grid-gap: 15px 20px;
                  grid-template-columns: repeat(4, 1fr);
            }
      }
      
      // background-color: rgb(31, 30, 30);
  
  
  
}