@import "mobile";

$background: rgb(18, 43, 122);

$ligtbackground: rgb(140, 161, 231);

$font-color: white;

$pagefont: "Lato", sans-serif;

$fontsize: 50px;

$boxShadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);


