@media all and (max-width: 767px) {
  body {
    background-color: coral;
    // background-color: rgb(31, 30, 30);

    .container .city-display {
      display: grid;
      justify-content: center;
      grid-gap: 0px 0px;
      grid-template-columns: repeat(1, 1fr);
      padding: 5px 50px;
    }
  }

  .time {
    h1 {
      font-size: 20px;
      margin: 0px;
      padding: 0px;
    }
    h3 {
      font-size: 20px;
      margin: 0px;
      padding: 0px;
    }
  }

  .dropdown {
    margin-right: 55px;
  }
}

@media all and (min-width: 768px) {
  body {
    // background-color: red;
    // background-color: rgb(31, 30, 30);

    .container .city-display {
      display: grid;
      grid-gap: 5px 50px;
      grid-template-columns: repeat(2, 1fr);
      padding: 5px 70px;
      justify-content: center;
    }
  }

  .dropdown {
    margin-right: 190px;
  }
}

@media all and (min-width: 1024px) {
  body {
    background-color: green;
    // background-color: rgb(31, 30, 30);

    .container .city-display {
      display: grid;
      grid-gap: 15px 20px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media all and (min-width: 1200px) {
  body {
    background-color: purple;
    // background-color: rgb(31, 30, 30);
    .container .city-display {
      display: grid;
      grid-gap: 15px 5px;
      grid-template-columns: repeat(4, 1fr);
    }

    .dropdown {
      margin-right: 190px;
    }
  }
}
