@media all and (max-width: 767px) {
  body {
    background-color: coral;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0px 0px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 5px 50px;
  }
  .time h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .time h3 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .dropdown {
    margin-right: 55px;
  }
}

@media all and (min-width: 768px) {
  body {
    background-color: red;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px 50px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 5px 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dropdown {
    margin-right: 190px;
  }
}

@media all and (min-width: 1024px) {
  body {
    background-color: green;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1200px) {
  body {
    background-color: purple;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px 20px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  body .dropdown {
    margin-right: 190px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

@media all and (max-width: 767px) {
  body {
    background-color: coral;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0px 0px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 5px 50px;
  }
  .time h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .time h3 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
  .dropdown {
    margin-right: 55px;
  }
}

@media all and (min-width: 768px) {
  body {
    background-color: red;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px 50px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 5px 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dropdown {
    margin-right: 190px;
  }
}

@media all and (min-width: 1024px) {
  body {
    background-color: green;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px 20px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1200px) {
  body {
    background-color: purple;
  }
  body .container .city-display {
    display: -ms-grid;
    display: grid;
    grid-gap: 15px 20px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  body .dropdown {
    margin-right: 190px;
  }
}

.container {
  padding: 0px 10px;
  margin: 0px auto;
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
  overflow-x: hidden;
  background-color: #19369a;
}

.container h1 {
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.container .offline-prompt {
  text-align: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.container .time {
  font-style: normal;
  width: 100%;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.container .time h1 {
  font-size: 27px;
}

.container .time h3 {
  margin: 20px 0px;
}

.container .empty-input {
  text-align: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.container .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2px;
}

.container .input input {
  width: 65%;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #0e1f58;
  border: none;
  border-bottom: 3px solid #8ca1e7;
  color: #8ca1e7;
  font-family: "Lato", sans-serif;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.container .input input:focus {
  background-color: #12276e;
}

.container .input ::-webkit-input-placeholder {
  color: #8ca1e7;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
}

.container .input :-ms-input-placeholder {
  color: #8ca1e7;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
}

.container .input ::-ms-input-placeholder {
  color: #8ca1e7;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
}

.container .input ::placeholder {
  color: #8ca1e7;
  opacity: 0.6;
  font-family: "Lato", sans-serif;
}

.container .input button {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: #8ca1e7;
  border: none;
  border-bottom: 3px solid #8ca1e7;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  width: 15%;
  height: initial;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.container .input button:hover {
  background-color: #8ca1e7;
  color: white;
}

.container .input button:active {
  background-color: white;
  color: #8ca1e7;
}

.container .dropdowncontrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container .dropdown {
  width: 65%;
  height: auto;
  background-color: #0e1f58;
  padding: 0px 20px;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.container .dropdown a {
  text-decoration: none;
  color: white;
}

.container .dropdown p:hover {
  background-color: #8ca1e7;
}

.container .dropdown p:active {
  background-color: white;
  color: #8ca1e7;
}

.container .city-display {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px 15px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.container .city-card {
  background-color: rgba(65, 73, 150, 0.5);
  background: url(./forest.jpg);
  background-size: cover;
  width: auto;
  padding: 5px;
  margin: 10px 15px;
  position: relative;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.container .city-card .deletebtn {
  font-size: 25px;
  text-align: center;
}

.container .city-card .deletebtn a {
  color: white;
  text-decoration: none;
  width: 100%;
}

.container .city-card .deletebtn a:hover {
  color: #0e1f58;
}

.container .city-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container .top-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 0px 0px 10px;
}

.container .top-display .temp h2 {
  font-size: 50px;
}

.container .top-display .location {
  display: inline;
  margin: 0px;
}

.container .top-display .location ul h2 {
  margin: 0%;
  font-size: 30px;
}

.container .top-display .location ul li {
  list-style: none;
}

.container .bottom-display {
  display: inline;
}

.container .bottom-display ul {
  list-style: none;
  margin: 0%;
  padding: 10px;
}

.container .bottom-display p {
  margin-bottom: 0px;
}
/*# sourceMappingURL=weatherapp.css.map */